.section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 40px;

  &__title {
    max-width: 400px;
    margin: 0 auto 45px;
    font-family: 'Georgia', serif;
    font-size: 35px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    @media (max-width: 650px) {
      font-size: 25px;
      line-height: 32px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;

    @media (max-width: 1250px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      display: block;
    }
  }

  &__article {
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;
    border-radius: 9px;
    max-width: 270px;
    min-height: 435px;
  }

  @media (max-width: 768px) {
    padding: 60px 30px;
  }

  @media (max-width: 320px) {
    padding: 40px 10px;
  }
}