* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Georgia', serif, -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F6F6F6;
  color: #545454;
}

img {
  max-width: 100%;
  height: auto;
}